$divcolor-color: rgba(0, 0, 0, 0.5);
$border-radius: 10px;

body {
    background-image: url('images/bg4k.jpeg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    .welcome-section {
        position: relative;
        background-size: cover;
        text-align: center;
        color: white;
        width: 100%;

        .social-links {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 40px;

            a {
                color: white;
                margin-left: 10px;
                font-size: 24px;

                &:hover {
                    color: #ddd;
                }
            }
        }

        .location-hours {
            width: 100%;
        }

        .semi-transparent {
            background: $divcolor-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            width: 100%;
        }

        .logo {
            max-height: 25vh;
            position: static;
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: 800px) {
        .welcome-section {
            .social-links {
                position: static;
                display: flex;
                justify-content: center;

                a {
                    color: rgb(0, 29, 110);
                    margin: 0 5px;
                }
            }

            .logo {
                margin: 0 0 20px;
            }
        }
    }

    .services-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;

        .service-item {
            flex: 0 1 250px;
            background: #f0f0f0;
            padding: 20px;
            text-align: center;
            border: solid black;
            border-radius: $border-radius;
            margin-left: 40px;
        }
    }

    .technicians-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 20px;

        .technician-item {
            background: #fff;
            padding: 20px;
            text-align: center;
            border-radius: $border-radius;
        }
    }

    .contact-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        margin-left: 44px;

        .contact-item {
            background: #f0f0f0;
            padding: 20px;
            text-align: center;
            width: 32%;
            border: solid black;
            border-radius: $border-radius;
        }
    }

    .about-section,
    .mp,
    .location-hours {
        padding: 20px;
        background: #ddd;
        text-align: center;
        border: solid black;
        border-radius: $border-radius;
        width: 100%;
    }

    .about-section {
        margin-left: 25%;
        width: 50%;

        p {
            font-size: 20px;
        }
    }

    .mp {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        justify-content: center;
        align-items: center;
        color: #ddd;

        h2 {
            padding-top: 10px;
        }
    }



    @media (max-width: 600px) {
        .services-grid,
        .technicians-grid,
        .contact-grid {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 500px) {
        .services-grid,
        .contact-grid {
            margin-left: 0;
        }

        .about-section {
            margin-left: 4%;
            width: 80%;

            p {
                font-size: 16px;
            }
        }

        .services-grid .service-item,
        .contact-grid .contact-item {
            margin-left: 0;
            width: auto;
        }

        .contact-grid {
            margin-left: 4%;
        }

        .social-links a {
            font-size: 20px;
        }

        
        .location-hours,
        .mp {
            padding-left: 10px;
            padding-right: 10px;
        }
        .location-hours{
            width: 100%;

        }

        .logo,
        iframe {
            height: 15vh;
        }

        iframe {
            width: 300px;
            height: 300px;
            padding: 10px;
        }
    }

    @media (max-width: 400px) {
        iframe {
            width: 250px;
            height: 250px;
        }

        .logo {
            height: 20vh;
            margin: 0;
        }

        h1 {
            font-size: 18px;
            margin: 0;
        }
        p {
            font-size: smaller;
        }
    }

    @media (max-width: 350px) {
        iframe {
            width: 225px;
            height: 225px;
        }
    }   
}