body {
  background-image: url("images/bg4k.jpeg");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body .welcome-section {
  position: relative;
  background-size: cover;
  text-align: center;
  color: white;
  width: 100%;
}
body .welcome-section .social-links {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 40px;
}
body .welcome-section .social-links a {
  color: white;
  margin-left: 10px;
  font-size: 24px;
}
body .welcome-section .social-links a:hover {
  color: #ddd;
}
body .welcome-section .location-hours {
  width: 100%;
}
body .welcome-section .semi-transparent {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
body .welcome-section .logo {
  max-height: 25vh;
  position: static;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  body .welcome-section .social-links {
    position: static;
    display: flex;
    justify-content: center;
  }
  body .welcome-section .social-links a {
    color: rgb(0, 29, 110);
    margin: 0 5px;
  }
  body .welcome-section .logo {
    margin: 0 0 20px;
  }
}
body .services-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
body .services-grid .service-item {
  flex: 0 1 250px;
  background: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: solid black;
  border-radius: 10px;
  margin-left: 40px;
}
body .technicians-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}
body .technicians-grid .technician-item {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
body .contact-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  margin-left: 44px;
}
body .contact-grid .contact-item {
  background: #f0f0f0;
  padding: 20px;
  text-align: center;
  width: 32%;
  border: solid black;
  border-radius: 10px;
}
body .about-section,
body .mp,
body .location-hours {
  padding: 20px;
  background: #ddd;
  text-align: center;
  border: solid black;
  border-radius: 10px;
  width: 100%;
}
body .about-section {
  margin-left: 25%;
  width: 50%;
}
body .about-section p {
  font-size: 20px;
}
body .mp {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  justify-content: center;
  align-items: center;
  color: #ddd;
}
body .mp h2 {
  padding-top: 10px;
}
@media (max-width: 600px) {
  body .services-grid,
  body .technicians-grid,
  body .contact-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  body .services-grid,
  body .contact-grid {
    margin-left: 0;
  }
  body .about-section {
    margin-left: 4%;
    width: 80%;
  }
  body .about-section p {
    font-size: 16px;
  }
  body .services-grid .service-item,
  body .contact-grid .contact-item {
    margin-left: 0;
    width: auto;
  }
  body .contact-grid {
    margin-left: 4%;
  }
  body .social-links a {
    font-size: 20px;
  }
  body .location-hours,
  body .mp {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .location-hours {
    width: 100%;
  }
  body .logo,
  body iframe {
    height: 15vh;
  }
  body iframe {
    width: 300px;
    height: 300px;
    padding: 10px;
  }
}
@media (max-width: 400px) {
  body iframe {
    width: 250px;
    height: 250px;
  }
  body .logo {
    height: 20vh;
    margin: 0;
  }
  body h1 {
    font-size: 18px;
    margin: 0;
  }
  body p {
    font-size: smaller;
  }
}
@media (max-width: 350px) {
  body iframe {
    width: 225px;
    height: 225px;
  }
}/*# sourceMappingURL=styles.css.map */