header {
  color: #00ff7f;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center; /* add this line to center h1 */
}
h1 {
  margin-left: 50%;
  margin-right: 50%;
}
 
 /* Define the grid container */
 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    padding: 10px;
    transform: scale(0.75); /* Reduce size by 75% */
  }

  /* Define the grid items */
  .grid-item {
    border-radius: 25px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  /* Define the image styles */
  .slider-image {
    border-radius: 25px;
    max-width: 100%;
    display: none; /* Hide all images by default */
    margin-bottom: 5px;
  }

  /* Show the first image in each slider by default */
  .grid-item:first-child .slider-image:first-child {
    display: block;
  }
  .bg-image6 {
    animation: cycleBackgrounds 9s linear infinite;
    background-size: cover;
    background-position: center; /* Center the background image */
  }

  @media (max-width: 768px) {
    .bg-image6 {
      background-size: contain;
    }
  
  
  @keyframes cycleBackgrounds {
    0% {
      background-image: url("images/background1.jpg");
    }
    33.33% {
      background-image: url("images/background2.jpg");
    }
    66.66% {
      background-image: url("images/background3.jpg");
    }
    100% {
      background-image: url("images/background4.jpg");
    }
  }
  .sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidebar-right {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidebar a,
.sidebar-right a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #00ff7f;;
  display: block;
}

.sidebar a:hover,
.sidebar-right a:hover {
  color: #f1f1f1;
}
button {
    background-color: black;
    color: #00ff7f; /* neon green */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }
