@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./public/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #F5F5DC;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: background 1s ease-in-out;
}

.header {
    margin-top: 2%;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #5a361192, #1c5a20a2);
    color: #F5F5DC;
    /* beige */
    text-align: center;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

.content {
    margin: 20px;
}

/* Style the navigation bar */
.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: #F5F5DC;
    /* beige */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #228B22;
    /* forest green */
    color: #F5F5DC;
}

.about-section {
    text-align: center;
    padding: 10px;
    background-color: #333333af;
    font-size: larger;
    width: 70%;
    margin: auto;
}

.services {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333af;
    font-size: larger;
    width: 12rem;
    margin: auto;
    margin-top: 1rem;
}

.services ul {
    list-style-type: square;
    /* Removes the bullet points */
    padding: 0;
    /* Removes the padding */
}



.contact-item {
    font-size: larger;
    text-align: center;
    padding: 10px;
    background-color: #333333bf;

    width: 70%;
    margin: auto;  
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-item form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item label {
    margin-top: 10px;
}

.contact-item input, .contact-item textarea {
    margin-top: 5px;
    width: 80%; /* You can adjust this value */
    padding: 10px;
    border: none;
    border-radius: 5px;
}
input[type="email"] {
    width: 40%; /* Adjust this value as needed */
    text-align: center;
}
textarea{
    height: 5rem;
}
.contact-item button {
    padding: 10px 30px; /* Increase padding to make the button larger */
    font-size: 16px; /* Increase font size */
    background-color: #228B22; /* forest green */
    color: #F5F5DC; /* beige */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    margin: 5px;
    border-radius: 15px;
}

.contact-item button:hover {
    background-color: #5a3511; /* saddle brown */
}


textarea {
    text-align: center;
}

.footer {
    background: linear-gradient(to right, #5a3511, #1c5a20);
    color: #F5F5DC;
    /* beige */
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.about-section, .services, .contact-item, .navbar{
    border-width: 2px;
    border-style: solid;
    border-color: #5a3511; /* saddle brown */
    border-radius: 10px; /* rounded corners */
}

#about:target, #services:target, #contact:target  {
    transform: scale(1.1); /* Makes the element 10% larger */
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
    background-color: #333333;
}

#contact:target {
margin-top: 2rem;
} 

#about:target {
    margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
    .header {margin-top: 3rem;
    }
    #contact:target {
        margin-top: 4rem;
        } 
        
        #about:target {
            margin-top:  2rem;
        }
}

/* CSS for screens smaller than 700px */
@media screen and (max-width: 700px) {
    .header {
        margin-top: 3.5rem;
    }
    .navbar {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4.7rem; /* Adjust as needed */
        overflow: auto;
        height: 13rem;
    }

    .navbar a {
        display: block;
        text-align: center;
        padding: 13px; /* Increase padding to make links larger */
        font-size: 12px; /* Increase font size for better readability */
    }
    .contact-item{
        margin-bottom: 3rem;
    }

@media screen and (max-width: 600px) {
    /* Style for the About Us, Services, and Contact sections when they're targeted */
    #about:target, #services:target, #contact:target {
        transform: translateX(10%); /* Move the section 10% to the left */
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }
}

    
}

/* @media screen and (max-width: 390px){
.navbar a {
    font-size: 12px;
}
.contact-item{
    width: 90%;

}

.about-section, .services{
margin-top: 4rem;}
.header{
    margin-top: 5rem;
}
} */

