body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 48px;
  color: red;
}
.sidebar {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar-right {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
  display: grid;
  transform: scale(0.5);
  transition: transform 0.5s;
}
.sidebar a,
.sidebar-right a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover,
.sidebar-right a:hover {
  color: #f1f1f1;
}
.content {
  margin-right: 50%;
  margin-left: 50%;
  padding: 1em;
}
.videos {display: grid;
grid-template-columns: repeat(2, 2fr);
grid-gap: 80px;
margin-right: 50px;}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}



.photo-gallery img {
  transform: scale(0.5);
  transition: transform 0.5s;
}
.photo-gallery-2 img {
  transform: scale(0.5);
  transition: transform 0.5s;
}
.photo-gallery-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.photo-gallery-2 img {
  border-radius: 50px;
  width: 375px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 100px;
}
.photo-gallery-2 img:hover {
  transform: scale(1.5);
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.logo {
  grid-row: 1;
  justify-self: center;
  transform: scale(0.25);
  transition: transform 0.25s;
  margin-top: -150px;
  margin-bottom: -150px;
}
.photo-gallery img:hover {
  transform: scale(1.5);
}

h1 {
  text-align: center;
}

.bg-image {
  background-image: url("images/background.jpg");
  background-size: contain;
}
.bg-image2 {
  background-image: url("images/background2.jpg");
  background-size: contain;
}
.bg-image3 {
  background-image: url("images/background3.jpg");
  background-size: contain;
}
.bg-image4 {
  background-image: url("images/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image5 {
  background-image: url("images/background5.jpg");
  background-size: contain;
}

.bg-image6 {
  animation: cycleBackgrounds 9s linear infinite;
  background-size: cover;
  background-attachment: fixed;

}

@keyframes cycleBackgrounds {
  0% {
    background-image: url("images/background6.jpg");
  }
  33.33% {
    background-image: url("images/background8.jpg");
  }
  66.66% {
    background-image: url("images/background9.jpg");
  }
  100% {
    background-image: url("images/background10.jpg");
  }
}
footer {
  display:grid;
  grid-template-columns: 1 1fr;
  background-color: #111;
  color: white;
  height: 120px; /* adjust this value as needed */
  width: 100% auto;
}
.foot {
  justify-self: center;
  width: 220px;
}