body {
    background-color: #FFFFFF;
    color: #4f4c4c;
    margin: 0;
    padding: 0;
}

#content {
    position: relative;
    padding: 20px;
}

.tab {
    text-indent: 40px;
}

.text0 {
    position: absolute;
    background-color: #F5F5F5;
    left: -2px;
    top: 185px;
    z-index: 37;
    font-size: 14px;
    width: 1151px;
    height: 87px;
    padding: 0px;
    border: none;
    text-align: left;
    border-radius: 9px;
}

.text0 a {
    text-decoration: none;
    color: #4f4c4c;
}

.text1 {
    position: absolute;
    background-color: #FFFFFF;
    left: 809px;
    top: 210px;
    z-index: 39;
    font-size: 25px;
    color: #555555;
    width: 180px;
    height: 28px;
    font-family: "Poiret One";
    padding: 10px;
    border: none;
    text-align: center;
    border-radius: 9px;
}

.text1 a {
    text-decoration: none;
    color: #555555;
}

.text2 {
    position: absolute;
    background-color: #F5F5F5;
    left: 62px;
    top: 320px;
    z-index: 35;
    font-size: 14px;
    width: 1313px;
    height: 1914px;
    padding: 0px;
    border: none;
    text-align: left;
    border-radius: 9px;
}

.text2 a {
    text-decoration: none;
    color: #4f4c4c;
}

.text3 {
    position: absolute;
    background-color: #FFFFFF;
    left: 90px;
    top: 301px;
    z-index: 36;
    font-size: 14px;
    width: 1264px;
    height: 1965px;
    padding: 0px;
    border: none;
    text-align: left;
    border-radius: 9px;
}

.text3 a {
    text-decoration: none;
    color: #4f4c4c;
}

.text4 {
    position: absolute;
    left: 103px;
    top: 332px;
    z-index: 40;
    font-size: 18px;
    width: 1017px;
    height: 2301px;

    padding: 10px;
    border: none;
    text-align: left;
}

.text4 a {
    text-decoration: none;
    color: #4f4c4c;
}

.text5 {
    position: absolute;
    left: 202px;
    top: 212px;
    z-index: 41;
    font-size: 32px;
    color: #00008B;
    width: 230px;
    height: 130px;
    padding: 10px;
    border: none;
    text-align: left;
}

.text5 a {
    text-decoration: none;
    color: #00008B;
}

.image0 {
    position: absolute;
    left: -3px;
    top: -31px;
    z-index: 38;
    background: url("./Public/application/image0.png") transparent;
    width: 1152px;
    height: 230px;
    border: none;
}

table, td, th {
    border: none;
    padding: 0px;
    text-align: left;
    vertical-align: top;
}

@media (-webkit-min-device-pixel-ratio: 2) {
}
