@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Gloria+Hallelujah&family=Lilita+One&family=Nosifer&family=Yuji+Mai&display=swap');


body {
    font-family: "Alumni Sans Collegiate One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #ffffff;
}

.content {
    padding: 20px;
}

.header {
    text-align: center;
    background-image: url('./Public/image37.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #ffffff;
    text-shadow: 6px 6px 15px rgba(0, 0, 0, 1); /* Increased opacity to 1 for a fully dark shadow */
}

.header h1 {
    margin-top: 20px;
    color: white;
    font-size: 2.5em;
    font-style: italic;

}




.contact-info, .office-address, .properties {
    margin-bottom: 20px;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.property {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.property img {
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    display: block;
    margin: 0 auto 10px;
}
