@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Gloria+Hallelujah&family=Lilita+One&family=Nosifer&family=Yuji+Mai&display=swap');



body {
    font-family: "Alumni Sans Collegiate One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #ffffff;
}

.content {
    padding: 20px;
}

.header {
    text-align: center;
    background-image: url('/RentalWebsite/Public/ResidentialLanding/image37.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #ffffff;
    text-shadow: 6px 6px 15px rgba(0, 0, 0, 1); /* Increased opacity to 1 for a fully dark shadow */
}

.header0 {
    text-align: center;
    background-image: url('./Public/Commercial/handshake.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #ffffff;
    text-shadow: 6px 6px 15px rgba(0, 0, 0, 1); /* Increased opacity to 1 for a fully dark shadow */
}

.header h1 {
    
    margin-top: 20px;
    color: white;
    font-size: 2.5em;
    font-style: italic;

}

h2 {
    margin-top: 5px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 1), 
                 0 0 30px rgba(255, 255, 255, 0.75), 
                 0 0 45px rgba(255, 255, 255, 0.5);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 1), 
                     0 0 30px rgba(255, 255, 255, 0.75), 
                     0 0 45px rgba(255, 255, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 25px rgba(255, 255, 255, 1), 
                     0 0 50px rgba(255, 255, 255, 0.75), 
                     0 0 75px rgba(255, 255, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 1), 
                     0 0 30px rgba(255, 255, 255, 0.75), 
                     0 0 45px rgba(255, 255, 255, 0.5);
    }
}



.contact-info, .office-address, .properties {
    margin-bottom: 20px;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.property {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.property img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    display: block;
    margin: 0 auto 10px;
    box-shadow: 0 0 9.56px rgba(255, 255, 255, 1), 
                0 0 19.13px rgba(255, 255, 255, 0.75), 
                0 0 28.69px rgba(255, 255, 255, 0.5);
    animation: boxPulse 2s infinite;
}

@keyframes boxPulse {
    0% {
        box-shadow: 0 0 9.56px rgba(255, 255, 255, 1), 
                    0 0 19.13px rgba(255, 255, 255, 0.75), 
                    0 0 28.69px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 15.94px rgba(255, 255, 255, 1), 
                    0 0 31.88px rgba(255, 255, 255, 0.75), 
                    0 0 47.81px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 9.56px rgba(255, 255, 255, 1), 
                    0 0 19.13px rgba(255, 255, 255, 0.75), 
                    0 0 28.69px rgba(255, 255, 255, 0.5);
    }
}



#no-highlight {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by most browsers */
}