@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
  padding: 0;
  padding-top: 300px; 
  overflow: hidden;
  overflow-y: auto; 
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

header {
  position: fixed;  /* Fixed position */
  top: 0;  /* Stick to the top */
  left: 0;  /* Stick to the left */
  width: 100%;  /* Full width */
  z-index: 100;  /* Overlay content below */
  /* Your existing styles */
  display: grid;
  grid-template-columns: auto 1fr auto auto; /* This means logo takes space it needs, site-title takes as much as it can, search bar and icons take only the space they need */
  align-items: center;
  background-color: #212121;
  color: #000000;
  padding-bottom: 10px;
  padding: 10px;
  z-index: 100; /* To ensure the header is on top of other content */
}

.searchbar {
  margin-top: 25px;
  margin-right: 40px;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: end;
}

.searchbar input[type="text"] {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 10px;
}

.icon-buttons {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  justify-self: end;
  display: flex;
  margin-right: 10px;
}

.icon-buttons i {
  font-size: 2.5rem;
  margin: 0 10px;
  cursor: pointer;
}

.icon-glow {
  color: #00ff00;  /* Initial color */
  text-shadow: 0 0 1.25px #00ff00, 
               0 0 2.5px #00ff00, 
               0 0 5px #00ff00;
  cursor: pointer;
  transition: color 0.2s, text-shadow 0.2s;
}

.icon-glow:hover {
  color: #9400D3;  /* Bright purple color for the glow on hover */
  text-shadow: 0 0 1.25px #9400D3, 
               0 0 2.5px #9400D3, 
               0 0 5px #9400D3, 
               0 0 7.5px #9400D3, 
               0 0 10px #9400D3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f900;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


h2 {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #00ff00;
    text-shadow: 0 0 1.25px #9400D3, 
               0 0 2.5px #9400D3, 
               0 0 5px #9400D3, 
               0 0 7.5px #9400D3, 
               0 0 10px #9400D3;
  width: 45%;
}


.logo {
  width: 200px;  /* Set the width */
  height: auto;  /* Keep the aspect ratio */
  margin-top: 10px;
margin-left: 10px;
border-radius: 50px;
}

.logo-link {
  grid-row: 1 / 2; /* First row */
  grid-column: 1 / 2; /* First column */
}

.site-title {
  font-size: 7rem;
  grid-row: 1 / 2; /* First row */
  grid-column: 2 / 3; /* Second column */
  justify-self: center; /* Center horizontally */
}

.nav {
  grid-row: 2 / 3; /* Second row */
  grid-column: 1 / 4; /* Span all three columns */
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  font-size: 2.5rem; /* Adjust the size as you like */
  text-shadow: 2.5px 2.5px 5.5px rgba(0, 0, 0, 0.3);  /* Add shadow effect */
}
.nav a {
  color: #246100;
  text-decoration: none;
  padding: 1rem;
  font-weight: bolder;
}

h1 {
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  color: #4B0082; /* Dark purple color */
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #000);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
    color: #4B0082; /* Dark purple color */
    box-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
    color: #9400D3; /* Bright purple color for the glow */
    text-shadow: 0 0 10px #9400D3,
                 0 0 20px #9400D3,
                 0 0 40px #9400D3,
                 0 0 80px #9400D3,
                 0 0 160px #9400D3;
  }
}

.neon-button, .nav a {
  background-color: #000;
  color: #00ff00;
  border-color: #00ff00;
  border-style: solid;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  text-shadow: 0 0 1.25px #00ff00, 0 0 2.5px #00ff00, 0 0 5px #00ff00;
  box-shadow: 0 0 2px #00ff00,  /* Slight glow right around the border */
              0 0 5px #00ff00,  /* Medium glow extending further */
              0 0 10px #00ff00; /* Strong glow extending even further */
  display: inline-block; /* To keep it inline like text */
  text-decoration: none; /* To remove underline */
  border-radius: 25px;
  margin-bottom: 5px;
  width: 200px;
  text-align: center;
}
.neon-button:hover, .nav a:hover {
  background-color: #00ff00;
  color: #000;
  text-shadow: 0 0 1.25px #9400D3, 
             0 0 2.5px #9400D3, 
             0 0 5px #9400D3, 
             0 0 7.5px #9400D3, 
             0 0 10px #9400D3;
  box-shadow: 0 0 1.25px #9400D3, 
  0 0 2.5px #9400D3, 
  0 0 5px #9400D3, 
  0 0 7.5px #9400D3, 
  0 0 10px #9400D3;;
}

video#background-video {
  position: fixed;  /* Fixed position */
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;  /* Behind your content */
  overflow: hidden;  /* Hide scrollbars */
}

/* Define the grid container */
.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 150px;
  padding: 10px;
  max-width: calc(80vw - 200px); /* subtract the total width of both sidebars */
  margin: 0 auto; /* center the grid horizontally */
}
/* Define the grid items */
.grid-item {
  background-color: #0c0c0ca4;
  box-shadow: 0 0 1.25px #00ff00, 0 0 2.5px #00ff00, 0 0 5px #00ff00, 0 0 7.5px #00ff00, 0 0 10px #00ff00; /* Reduce the neon glow */
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #00ff00;
  padding: 10px;
  text-align: center;
  width: 400px;
}

.grid-item img.slider-image {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Define the image styles */
.slider-image {
  border-radius: 25px;
  max-width: 100%;
  display: none; /* Hide all images by default */
  margin-bottom: 5px;
}

/* Show the first image in each slider by default */
.grid-item:first-child .slider-image:first-child {
  display: block;
}

p {
  font-size: larger;
  color: #4B0082; /* Dark purple color */
  text-shadow: 0 0 1.25px #00ff00, 0 0 2.5px #00ff00, 0 0 5px #00ff00, 0 0 7.5px #00ff00, 0 0 10px #00ff00;
}

button {
  font-family: 'Gloria Hallelujah', cursive;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 10px;
  color: #9400D3; /* Neon purple */
  background: #32CD32; /* Neon green */
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  border: none; /* Remove default button border */
  box-shadow: 0 0 3px #32CD32,  /* Reduced glow */
  0 0 15px #32CD32,
  0 0 30px #32CD32,
  0 0 100px #32CD32;
  text-shadow: 0 0 1.25px #9400D3, 
             0 0 2.5px #9400D3, 
             0 0 5px #9400D3, 
             0 0 7.5px #9400D3, 
             0 0 10px #9400D3;
}


button:hover {
  color: #32CD32; /* Neon green */
  background: #9400D3; /* Neon purple */
  box-shadow: 0 0 5px #9400D3,  /* Neon purple glow */
              0 0 25px #9400D3,
              0 0 50px #9400D3,
              0 0 200px #9400D3;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    text-shadow: 0 0 1.25px #00ff00, 0 0 2.5px #00ff00, 0 0 5px #00ff00, 0 0 7.5px #00ff00, 0 0 10px #00ff00;
}

button:nth-child(1) {
  filter: hue-rotate(270deg);
}

button:nth-child(2) {
  filter: hue-rotate(110deg);
}


button span {
  position: absolute;
  display: block;
}

button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #9400D3,#32CD32);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
      left: -100%;
  }
  50%, 100% {
      left: 100%;
  }
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #9400D3,#32CD32);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
      top: -100%;
  }
  50%, 100% {
      top: 100%;
  }
}

button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #9400D3,#32CD32);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes animate3 {
  0% {
      right: -100%;
  }
  50%, 100% {
      right: 100%;
  }
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #9400D3,#32CD32);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
      bottom: -100%;
  }
  50%, 100% {
      bottom: 100%;
  }
}

.slider-container {
  width: 50%; /* Take up 50% width of the parent */
}

.slider-info {
  width: 50%; /* Take up 50% width of the parent */
  text-align: left; /* Align text to the left */
}

@keyframes reverse-animate1 {
  0% {
      left: 100%;
  }
  50%, 100% {
      left: -100%;
  }
}

@keyframes reverse-animate2 {
  0% {
      top: 100%;
  }
  50%, 100% {
      top: -100%;
  }
}

@keyframes reverse-animate3 {
  0% {
      right: 100%;
  }
  50%, 100% {
      right: -100%;
  }
}

@keyframes reverse-animate4 {
  0% {
      bottom: 100%;
  }
  50%, 100% {
      bottom: -100%;
  }
}

.prev-btn span:nth-child(1) {
  animation: reverse-animate1 1s linear infinite;
}

.prev-btn span:nth-child(2) {
  animation: reverse-animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.prev-btn span:nth-child(3) {
  animation: reverse-animate3 1s linear infinite;
  animation-delay: 0.50s;
}

.prev-btn span:nth-child(4) {
  animation: reverse-animate4 1s linear infinite;
  animation-delay: 0.75s;
}



.contact-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #212121;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact-info, .contact-form {
  margin-top: 20px;
  border-top: 1px solid #212121;
  padding-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.discord-icon {
  margin-left: 30px;
  font-size: 35px;
  border: 2px solid #32CD32; /* Adjust the color as needed */
  border-radius: 40px; /* Adjust this value to your preference */
  padding: 5px; /* Padding can help ensure the border doesn't hug the icon too closely */
}

.instagram-icon{
  margin-left: 60px;
  font-size: 35px;
  border: 2px solid #32CD32; /* Adjust the color as needed */
  border-radius: 40px; /* Adjust this value to your preference */
  padding: 5px; /* Padding can help ensure the border doesn't hug the icon too closely */
}

.twitter-icon{
  margin-left: 60px;
  font-size: 35px;
  border: 2px solid #32CD32; /* Adjust the color as needed */
  border-radius: 40px; /* Adjust this value to your preference */
  padding: 5px; /* Padding can help ensure the border doesn't hug the icon too closely */
}

.facebook-icon{
  margin-left: 60px;
  font-size: 35px;
  border: 2px solid #32CD32; /* Adjust the color as needed */
  border-radius: 40px; /* Adjust this value to your preference */
  padding: 5px; /* Padding can help ensure the border doesn't hug the icon too closely */
}



.contact-header {
  font-size: 3em; /* or whatever smaller size you want */
  color: #39FF14; /* Neon green color for the glow */
  text-shadow: 0 0 10px #39FF14,
               0 0 20px #39FF14,
               0 0 40px #39FF14,
               0 0 80px #39FF14,
               0 0 160px #39FF14;
}

@keyframes contactAnimate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
    color: #4B0082; /* Dark purple color */
    box-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
    color: #39FF14; /* Neon green color for the glow */
    text-shadow: 0 0 10px #39FF14,
                 0 0 20px #39FF14,
                 0 0 40px #39FF14,
                 0 0 80px #39FF14,
                 0 0 160px #39FF14;
  }
}

.contact-header {
  animation: contactAnimate 10s linear infinite;
}



/*Shopping Pages */
.sidebar {
  margin-top: 10%; /* Increased to 25% more than original 10% */
  margin-left: 1%;
  position: absolute;
  top: 125px; /* Increased to 25% more than original 100px */
  left: 0;
  width: 312.5px; /* Increased to 25% more than original 250px */
  padding: 12.5px; /* Increased to 25% more than original 10px */
  background-color: #212121;
  box-sizing: border-box;  
  color: #00ff00;
  text-shadow: 0 0 1.5625px #9400D3,  /* Increased all shadow spread by 25% */
              0 0 3.125px #9400D3,
              0 0 6.25px #9400D3,
              0 0 9.375px #9400D3,
              0 0 12.5px #9400D3;
              border-radius: 5%;
              border: 2px solid #00ff00;
              box-shadow: 0 0 5px #39FF14,
              0 0 10px #39FF14,
              0 0 20px #39FF14;
}

.left-searchbar, .left-dropdown, .price-filter {
  margin-bottom: 25px; /* Increased to 25% more than original 20px */
}

.left-searchbar input, .left-dropdown select {
  width: 100%;
  box-sizing: border-box;
  padding: 6.25px; /* Increased to 25% more than original 5px */
  border: 1.25px solid #ccc; /* Increased to 25% more than original 1px */
  border-radius: 5px; /* Increased to 25% more than original 4px */
  font-size: 20px; /* Increased to 25% more than original 16px */
  outline: none;
}

#priceRange {
  width: 100%;
}

#priceRange::-webkit-slider-thumb {
  cursor: pointer;
}

#priceRange::-moz-range-thumb {
  cursor: pointer;
}

.inventory-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  /* This creates 4 columns with equal width */
  grid-gap: 20px;  /* Gap between each grid item */
  padding: 20px;   /* Padding around the grid */
  width: calc(75% - 250px); /* Assuming the sidebar is about 250px wide, adjust as needed */
  margin: 20px auto;  /* Center the grid in the available space */
}

.item {
  margin: 5%;
  margin-top: 10;
  border: 1px solid #00ff00; /* Just a simple border to visualize each grid item */
  padding: 10px;
  background-color: #00ff00; /* white background to make it pop out more */
  text-align: center; /* Center the item content */
  background-color: #212121;
  box-sizing: border-box;  
  color: #00ff00;
  text-shadow: 0 0 1.5625px #9400D3,  /* Increased all shadow spread by 25% */
              0 0 3.125px #9400D3,
              0 0 6.25px #9400D3,
              0 0 9.375px #9400D3,
              0 0 12.5px #9400D3;
              border-radius: 5%;
              border: 2px solid #00ff00;
              box-shadow: 0 0 2.5px #39FF14,
              0 0 7.5px #39FF14,
              0 0 15px #39FF14;
}


.item img {
  max-width: 45%; /* Ensuring the image doesn't overflow */
  height: auto;
  margin-bottom: 10px; /* Space between image and description */
}

.item p {
  margin: 0; /* Remove default margin */
  font-size: 0.9rem; /* Adjust font size as needed */
}


@media (max-width: 1920px){
  .grid-container {
    margin-right: 425px;
  }
}

  

@media (max-width: 767px) {
  body {
      width: 767px;
    padding-top: 90%; /* Remove the large top padding on smaller screens */
    overflow: auto; /* Allow scrolling on smaller screens */
  }

  h2 {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  .grid-container {
    margin-left: 30%;
    display: block; /* Change to a block layout for easier stacking */
    top: 0; /* Reset the top position */
    width: 100%; /* Make it full width */
    margin-top: 0; /* Reset margin-top */
  }

  .grid-item {
    margin-bottom: 15px;
    width: 250px; /* Make each item full width on smaller screens */
  }

  .grid-item img.slider-image {
    width: 50%; /* Make images full width */
  }

  .prev-btn,
  .next-btn {
    margin: 10px auto; /* Center the buttons */
    font-size: 8px; /* Decrease font size for smaller screens */
    padding: 10px 15px;
  }

  header {
    margin-top: ne;
    width: 100%;
    text-align: center;
    background-color: #212121;
    display: flex;
    flex-direction: column; /* Change to a column layout for smaller screens */
    align-items: center; /* Center-align content horizontally */
  }

  .site-title {
    font-size: 2.5rem;
    margin-top: 5px;
    margin-left: 0; /* Remove margin-left to center the title */
  }

  .searchbar {
    margin-top: 5px;
    grid-row: auto;
    grid-column: auto;
    max-width: none;
  }


  .icon-buttons i {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav ul li {
    font-size: 1.5rem;
    width: 33%;
    padding: 1px 0;
    box-sizing: border-box;
  }

  .neon-button,
  .nav a {
    font-size: .8rem;
    max-width: none;
    max-height: none;
    height: 30%;
    width: 55%;

  }

  .logo {
    width: 120px; /* Set the width */
    height: auto; /* Keep the aspect ratio */
    margin-top: 1px;
    border-radius: 50px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f900;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
}
