

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(45deg, #ffa200, rgb(0, 174, 255));
    }
    1.67% {
        background: linear-gradient(48deg, #ffa200, rgb(0, 174, 255));
    }
    3.33% {
        background: linear-gradient(51deg, #ffa200, rgb(0, 174, 255));
    }
    5% {
        background: linear-gradient(54deg, #ffa200, rgb(0, 174, 255));
    }
    6.67% {
        background: linear-gradient(57deg, #ffa200, rgb(0, 174, 255));
    }
    8.33% {
        background: linear-gradient(60deg, #ffa200, rgb(0, 174, 255));
    }
    10% {
        background: linear-gradient(63deg, #ffa200, rgb(0, 174, 255));
    }
    11.67% {
        background: linear-gradient(66deg, #ffa200, rgb(0, 174, 255));
    }
    13.33% {
        background: linear-gradient(69deg, #ffa200, rgb(0, 174, 255));
    }
    15% {
        background: linear-gradient(72deg, #ffa200, rgb(0, 174, 255));
    }
    16.67% {
        background: linear-gradient(75deg, #ffa200, rgb(0, 174, 255));
    }
    18.33% {
        background: linear-gradient(78deg, #ffa200, rgb(0, 174, 255));
    }
    20% {
        background: linear-gradient(81deg, #ffa200, rgb(0, 174, 255));
    }
    21.67% {
        background: linear-gradient(84deg, #ffa200, rgb(0, 174, 255));
    }
    23.33% {
        background: linear-gradient(87deg, #ffa200, rgb(0, 174, 255));
    }
    25% {
        background: linear-gradient(90deg, #ffa200, rgb(0, 174, 255));
    }
    26.67% {
        background: linear-gradient(93deg, #ffa200, rgb(0, 174, 255));
    }
    28.33% {
        background: linear-gradient(96deg, #ffa200, rgb(0, 174, 255));
    }
    30% {
        background: linear-gradient(99deg, #ffa200, rgb(0, 174, 255));
    }
    31.67% {
        background: linear-gradient(102deg, #ffa200, rgb(0, 174, 255));
    }
    33.33% {
        background: linear-gradient(105deg, #ffa200, rgb(0, 174, 255));
    }
    35% {
        background: linear-gradient(108deg, #ffa200, rgb(0, 174, 255));
    }
    36.67% {
        background: linear-gradient(111deg, #ffa200, rgb(0, 174, 255));
    }
    38.33% {
        background: linear-gradient(114deg, #ffa200, rgb(0, 174, 255));
    }
    40% {
        background: linear-gradient(117deg, #ffa200, rgb(0, 174, 255));
    }
    41.67% {
        background: linear-gradient(120deg, #ffa200, rgb(0, 174, 255));
    }
    43.33% {
        background: linear-gradient(123deg, #ffa200, rgb(0, 174, 255));
    }
    45% {
        background: linear-gradient(126deg, #ffa200, rgb(0, 174, 255));
    }
    46.67% {
        background: linear-gradient(129deg, #ffa200, rgb(0, 174, 255));
    }
    48.33% {
        background: linear-gradient(132deg, #ffa200, rgb(0, 174, 255));
    }
    50% {
        background: linear-gradient(135deg, #ffa200, rgb(0, 174, 255));
    }
    51.67% {
        background: linear-gradient(138deg, #ffa200, rgb(0, 174, 255));
    }
    53.33% {
        background: linear-gradient(141deg, #ffa200, rgb(0, 174, 255));
    }
    55% {
        background: linear-gradient(144deg, #ffa200, rgb(0, 174, 255));
    }
    56.67% {
        background: linear-gradient(147deg, #ffa200, rgb(0, 174, 255));
    }
    58.33% {
        background: linear-gradient(150deg, #ffa200, rgb(0, 174, 255));
    }
    60% {
        background: linear-gradient(153deg, #ffa200, rgb(0, 174, 255));
    }
    61.67% {
        background: linear-gradient(156deg, #ffa200, rgb(0, 174, 255));
    }
    63.33% {
        background: linear-gradient(159deg, #ffa200, rgb(0, 174, 255));
    }
    65% {
        background: linear-gradient(162deg, #ffa200, rgb(0, 174, 255));
    }
    66.67% {
        background: linear-gradient(165deg, #ffa200, rgb(0, 174, 255));
    }
    68.33% {
        background: linear-gradient(168deg, #ffa200, rgb(0, 174, 255));
    }
    70% {
        background: linear-gradient(171deg, #ffa200, rgb(0, 174, 255));
    }
    71.67% {
        background: linear-gradient(174deg, #ffa200, rgb(0, 174, 255));
    }
    73.33% {
        background: linear-gradient(177deg, #ffa200, rgb(0, 174, 255));
    }
    75% {
        background: linear-gradient(180deg, #ffa200, rgb(0, 174, 255));
    }
    76.67% {
        background: linear-gradient(183deg, #ffa200, rgb(0, 174, 255));
    }
    78.33% {
        background: linear-gradient(186deg, #ffa200, rgb(0, 174, 255));
    }
    80% {
        background: linear-gradient(189deg, #ffa200, rgb(0, 174, 255));
    }
    81.67% {
        background: linear-gradient(192deg, #ffa200, rgb(0, 174, 255));
    }
    83.33% {
        background: linear-gradient(195deg, #ffa200, rgb(0, 174, 255));
    }
    85% {
        background: linear-gradient(198deg, #ffa200, rgb(0, 174, 255));
    }
    86.67% {
        background: linear-gradient(201deg, #ffa200, rgb(0, 174, 255));
    }
    88.33% {
        background: linear-gradient(204deg, #ffa200, rgb(0, 174, 255));
    }
    90% {
        background: linear-gradient(207deg, #ffa200, rgb(0, 174, 255));
    }
    91.67% {
        background: linear-gradient(210deg, #ffa200, rgb(0, 174, 255));
    }
    93.33% {
        background: linear-gradient(213deg, #ffa200, rgb(0, 174, 255));
    }
    95% {
        background: linear-gradient(216deg, #ffa200, rgb(0, 174, 255));
    }
    96.67% {
        background: linear-gradient(219deg, #ffa200, rgb(0, 174, 255));
    }
    98.33% {
        background: linear-gradient(222deg, #ffa200, rgb(0, 174, 255));
    }
    100% {
        background: linear-gradient(225deg, #ffa200, rgb(0, 174, 255));
    }
}
